/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* common styles */
body {
  font-family: "Poppins", sans-serif;
}

/* top bar styles */

.honda-cbr-bg {
  background-color: #264653;
}
.honda-cbr-btn-purchase {
  background-color: #e76f51;
  border-radius: 5px;
}
.modal-title {
  color: #070707;
}
.modal-description {
  color: #070707;
}
/* feature bike style */
#feature-bike img {
  filter: grayscale(100%);
}
/* happy clients section */
.text {
  color: #e76f51;
}
.col img {
  width: 100%;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
/* bonus part */
.alert-heading {
  color: #e76f51;
}
